* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1-tag {
  color: antiquewhite;
  background-color: black;
  font-size: 3em;
  text-align: center;
  padding: 12px;
  opacity: inherit;
  text-shadow: white;
}
.h1-tag:hover {
  text-shadow: white;
  font-size: 3.1em;
  background-image: url("https://picsum.photos/300");
}

.todolist-tag {
  background-color: black;
}
